body {
  background-color: #cc6666;
}

circle.menu {
  stroke: #000;
  stroke-width: 8;
}

#my-logo {
  position: fixed;
  z-index: 10024;
  height:14%;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#head-shot {
  display: none;
  z-index: 10002;
  position: fixed;
  height:35%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(0);
  webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  border-radius:25px;
}


.title {
  z-index: 10025;
  min-width: 300px;
  position: fixed;
  top: 42%;
  left: 50%;
  margin-bottom: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#name {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #ccccff;
  margin: auto 0 0;
  font-size: 2em;
  white-space: nowrap;
}

#description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #ccccff;
  margin: auto 0;
  font-size: 1.3em;
}

.connect-icon {
  position: relative;
}

.connectors{
  background-color: black;
  border-radius: 25px;
  position: fixed;
  z-index: 10003;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#email {
  display: table;
  color: #ccccff;
  font-size: 1400%;
}

#linked-in {
  display: table;
  color: #ccccff;
  font-size: 1400%;
}

#facebook {
  display: table;
  color: #ccccff;
  font-size: 1400%;
}

#github {
  display: table;
  color: #ccccff;
  font-size: 1400%;
}

#about {
  width: 20%;
  left: 9%;
  top: 24%;
  position: fixed;
  font-family: Raleway;
  font-size: 1.1em;
  color: #ccccff;
  text-align: justify;
  text-justify: auto;
}

#cv {
  position: fixed;
}

#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    opacity: .55;
    display: none;
}

#modal1 {
  z-index: 10001;
  top: 50%;
  width: 65%;
  border-radius: 25px;
}

#modal2{
  z-index: 10001;
  top: 10%;
  height: 100%;
  width: 90%;
  max-height: 100%;
}

#cv-frame {
  width: 100%;
  height: 140%;
  position: relative;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(.8);
  transform: scale(.8);
}


@media screen and (max-height:750px) {
    #name{font-size: 1.2em; top: ;}
    #description{font-size: 1.1em; top: ;}
    .title{top: 35%;}
    #my-logo{top:20%;}
}

/*@media screen and (min-height:700px) {
    #description{font-size: 100%;}
    .my-menu{top: 61%;}
}
*/

.svg {
  z-index: -2;
}
@media screen and (max-width:800px) {
  .modal-content {
    width: 80%;
    height: 60%;
  }
}

